/.crowdin.yml export-ignore
/.devbox export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/ecs.php export-ignore
/Resources/Private/JavaScript/ export-ignore
