<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <p id="moo-no-tracking"><strong><f:translate key="noTracking"/></strong></p>
    <div style="display: none;" id="moo-optout-form" data-opted-out-text="<f:translate key='optedOut'/>" data-opted-in-text="<f:translate key='optedIn'/>">
        <p><f:translate key="introduction"/></p>
        <p>
            <input type="checkbox" id="moo-optout">
            <label for="moo-optout"><strong></strong></label>
        </p>
    </div>
    <f:asset.script identifier="matomo_optout" src="EXT:matomo_optout/Resources/Public/JavaScript/matomo_optout.js"/>
</f:section>

</html>
